.center-content {
    animation: grow 2s;
}

@keyframes grow {
    0% {
        transform: scale(.6);
    }

    100% {
        transform: scale(1);
    }
}

html {
    background: url("./assets/background 1366x768.png") no-repeat center center fixed;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 101.02px;
    height: 40px;
    left: 4vw;
    top: 4vh;
}

.left-panel {
    gap: 4vw;
}

.left-panel .rectangle {
    position: absolute;
    width: 2px;
    height: 36vh;
    left: 4.5vw;
    margin-top: 15vh;
    background: #ffffffa3;
    border-radius: 50px;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 1.6vw;
    position: absolute;
    width: 24px;
    /* height: 264px; */
    left: 4vw;
    /* top: 464px; */
    bottom: 4vh;
}

.socials i {
    color: #ffffffa3;
    font-size: 3vh;
    transition: 0.6s;
}

.socials i:hover {
    color: #ffa700;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 498px;
    height: 40px;
    /* left: 828px; */
    right: 4vw;
    top: 4vh;
}

.navbar .inactive {
    text-decoration: none;
    color: #ffffffa3;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    transition: 0.6s;
}

.navbar .active {
    text-decoration: none;
    color: #ffa700;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 136.5%;
    transition: 0.6s;
}

.navbar a:hover {
    color: #ffa700;
    opacity: 100%;
    font-weight: 500;
}

.navbar a:active {
    color: #ffa700;
    opacity: 100%;
    font-weight: 500;
}

.resume-bgrd {
    display: grid;
    place-items: center;
    width: 105px;
    height: 40px;
    border: 1px solid #ffffff66;
    border-radius: 50px;
    transition: 0.6s;
}

.resume-bgrd:hover {
    background-color: #ffffff52;
    border: 1px solid #ffffff00;
}

.resume-bgrd .resume {
    padding: 9px 9px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    color: #ffffffa3;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.5%;
    transition: 0.6s;
}

.center-content {
    /* border: solid 2px #ffffff; */
    position: absolute;
    width: 60.32vw;
    height: 51.43vh;
    left: 13.47vw;
    top: 27.08vh;
}

.center-content h1 {
    position: absolute;
    width: auto;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 5vh;
    line-height: 0;
    color: #FFFFFF;
}

.center-content p {
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 4.4vh;
    padding-top: 7vh;
    color: #ffffffa3;
}

.center-content h3 {
    position: absolute;
    width: auto;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    padding-top: 3.2vh;
    line-height: 0;
    color: #FFFFFF;
}

.center-content .about-style {
    position: absolute;
    width: 22.25vw;
    height: 2px;
    margin-left: 12vw;
    margin-top: 3.4vh;
    background-color: #ffa600a3;
    border-radius: 50px;
}

.center-content .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 1.6vw;
    position: absolute;
    margin-top: 13vh;
}

.center-content .tools img {
    color: #ffffffa3;
    width: 3vh;
    height: 3vh;
    transition: 0.6s;
}

.container {
    /* border:1px solid black; */
    width: fit-content;
    position: relative;
}

.text {
    display: none;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 2.2vh;
    color: #ffffffa3;
    width: 6vw;
    /* background-color: #ffa700; */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 1.4vh;
}

.container:hover .text {
    display: block;
    position: absolute;
}

.scroll-position {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background-color: #be3b3b; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3.125vh;
    width: 0.5vw;
    right: 5vw;
}

.scroll-position .scroll.two {
    width: 0.5vw;
    height: 1.5vw;
    background-color: #ffa700;
    border-radius: 50px;
}

.scroll-position .scroll {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #ffffffa3;
    border-radius: 50px;
}