html {
    background: url("./assets/background 1366x768.png") no-repeat center center fixed;
    background-size: cover;
}

div {
    margin: auto;    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.loader {
    display: block;
    position: relative;
    height: 1vh;
    width: 16vw;
    border-radius: 50px;
    background: #ffffffa3;
    overflow: hidden;
}

.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ffa700;
    animation: 3s prog ease-in;
}

@keyframes prog {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}