html {
    background: url("./assets/background 1366x768.png") no-repeat center center fixed;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 101.02px;
    height: 40px;
    left: 4vw;
    top: 4vh;
}

.left-panel {
    gap: 4vw;
}

.left-panel .rectangle {
    position: absolute;
    width: 2px;
    height: 36vh;
    left: 4.5vw;
    margin-top: 15vh;
    background: #ffffffa3;
    border-radius: 50px;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 1.6vw;
    position: absolute;
    width: 24px;
    /* height: 264px; */
    left: 4vw;
    /* top: 464px; */
    bottom: 4vh;
}

.socials i {
    color:#ffffffa3;
    font-size: 3vh;
    transition: 0.6s;
}

.socials i:hover {
    color: #ffa700;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 498px;
    height: 40px;
    /* left: 828px; */
    right: 4vw;
    top: 4vh;
}

.navbar a {
    text-decoration: none;
    color: #ffffffa3;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 136.5%;
    transition: 0.6s;
}

.navbar a:hover {
    color: #ffa700;
    opacity: 100%;
    font-weight: 600;
}

.navbar a:active {
    color: #ffa700;
    opacity: 100%;
    font-weight: 600;
}

.resume-bgrd {
    display: grid;
    place-items: center;
    width: 105px;
    height: 40px;
    border: 1px solid #ffffff66;
    border-radius: 50px;
    transition: 0.6s;
}

.resume-bgrd:hover {
    background-color: #ffffff52;
    width: 105px;
    height: 40px;
    border: 1px solid #ffffff00;
}

.resume-bgrd .resume {
    padding: 9px 9px;
    padding-left: 24px;
    padding-right: 24px;
}